<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js"></script>
    <title>Flask Tutorial</title>
   
  </head>
  <body>
    <h1> BANDWIDTH MONITORING  </h1>

    <pre>
      {{text}}
    </pre>
    
    <!-- <input type="text" id="hai" name="content" value="po">
    <button type="button" onclick="myFunc()">Try it</button>
    -->
  </body>
  <script type="text/javascript" {{ url_for('static', filename='app.js')}}></script>
  <script type="text/javascript">
  //     window.setInterval(function myFunc(text) {
  //     return text
  // },5000);
  // while(true){
    function myFunc(text) {
      return text}
  //     // setInterval(myFunc,5000);
  //   myVar = myFunc({{text|tojson}});
  //   console.log(myVar);

  //   document.getElementById("hai").value = myVar; 
  //   document.querySelector('pre').innerHTML = myVar;
  // // }
  
  </script>

</html>